
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="auth">Authentification</a></li>
      <li routerLinkActive="active"><a routerLink="appareils">Appareils</a></li>
      <li routerLinkActivate="active"><a routerLink="edit">Nouvel Appareil</a></li>
      <li routerLinkActivate="active"> <a routerLink="users">Utilisateurs</a></li>
    </ul>
    <div class="navbar-right">
      <p>Vous êtes connectés depuis : {{secondes}}</p>
    </div>
  </div>
</nav>




<div class="container">
  <div class="row">
    <!-- Quand votre application accède à une route,
     elle affiche le component correspondant dans le  <router-outlet>-->
   <router-outlet></router-outlet>
  </div>
</div>