<div class="col-xs-12">
    <h2>Mes appareils</h2>
    <p>Mis à jour : {{lastUpdate | async | date: 'yMMMMEEEEd' | uppercase}}</p>
    <ul class="list-group">
      <!--Affichage du composant appareil : Affichage des li-->
      <!--[appareilName] : permet la liaison à la variable appareilName se trouvant dans
        le composant fils app-appreil
       -->
      <app-appareil *ngFor="let appareil of appareils; let i=index"
      [appareilName]="appareil.name"
      [appareilStatus]="appareil.status"
      [indexOfAppareil]="i"
      [id]="appareil.id"></app-appareil>
     
    </ul>
    <button class="btn btn-success" (click)="onAllumer()">Tout allumer</button>
    <button class="btn btn-danger" (click)="onEteindre()">Tout éteindre</button>
    <button class="btn btn-success" (click)="onSave()">Enregistrer</button>
    <button class="btn btn-info" (click)="onFetch()">Charger</button>
  </div>